* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 11vw;
  color: #fff;
  text-shadow: 0 0 2px black, 0 2px black;
}
